$c1 : #7be359;
$c2 : #526b4c;
@mixin radius($val){
	border-radius: $val;
}

*{
	font-family: sans-serif;
}
body{
	margin :{
		top :10px;
		bottom: 10px;
		right: 50px;
		left: 50px;
	}
	border: 1px solid #586974;
	@include radius(5px);
	box-shadow: 20px;
	background-color: $c2;
}
#ident{
float: left;
	margin:{
		top: 19px;
		left: 25px;
	}
}
.header{
	background-image: url(header.png);
	background-size: contain;
	color: $c2;
	font-size: 200%;
	padding: 60px;
	text-align: center;
	@include radius(5px);
}
.navbar{
	background-color: $c2;
	height: 70px;
	border: 1px solid #d1d69d;
	ul{
		display: inline-block;
		float: right;
		li{
			list-style: none;
			float: left;
			padding: 8px 25px;
		}
		a:link, a:visited{
			border: 2px solid #cf649a;
			color: #272c35;
			padding: 10px 20px;
			text-align: center;
			text-decoration: none;
			@include radius(5px);
		}
		a:hover, a:active{
			background-color: #272c35;
			color: #cf649a;
		}
	}
	#galeri{
		background-image: url(icongaleri.jpg);
		background-size: 95px 42px;
    	background-position: center;
    	background-repeat: no-repeat;
    	color: white;
	}
}

.content{
	padding: 10px;
	h2{
			padding:{
				top: 50px;
				bottom: 40px;
			}
			text-align: center;

		}
	p {
	  text-indent: 50px;
	  text-align: justify;
	  letter-spacing: 1.5px;
	}
	#contact-num{
		text-align: center;
	}
	#home, #contact, #gallery{
		height: 665px;
		border: 1px solid #e0e0e0;
		margin-top: 30px;
	}
}
	#image{
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

#about{
	text-align: left;
	padding:{
		left : 30px;
		top: 10px;
		bottom: 10px;
	}
}
#aboutt{
	text-align: right;
	float: right;
	-webkit-writing-mode: vertical-rl;
    position: absolute;
    margin-left: 87%;
}
.footer{
	height: 200px;
	text-align: left;
	background-color: #042b19;
	color: $c2;
}